<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arthem</title>
<link rel="stylesheet" href="/app/frontend/public/css/index.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <section class="section-1">

            
                <nav>
                    <a href="#" class="brand">Arth<span class="letter">e</span>m</a>
                    <a href="#" class="nav-links">Home</a>
                    <a href="#" class="nav-links">Galeria</a>
                    <a href="#" class="nav-links">Eventos</a>
                    <a href="#" class="nav-links">Artistas</a>
                    <a href="#" class="nav-links">Sobre</a>
                </nav>

                <div class="auth">
                    <a href="#" class="sign-in">Login</a>
                    <a href="#" class="sign-up">Cadastro</a>
                </div>
                <menu>
                    <img src="/app/frontend/public/icons/menu_24dp_FFFEDF_FILL0_wght400_GRAD0_opsz24.svg" alt="menu">
                </menu>

            </section>
        </header>


        <main>
            
            <section class="section-2">
                <h1>Arthem - Galeria de Arte Angolana.</h1>
                <h1>Plataforma para exposição e vendas de obras de artistas locais.</h1>
            </section>
            <section class="section-3">
                <div class="discover-new-artworks">
                    <h2>Descubra Obras Autênticas</h2>
                </div>
                <div class="artworks-container">
                    <div class="artwork artwork-item-1">
                        <div></div>
                    </div>
                    <div class="artwork artwork-item-2">
                        <div></div>
                    </div>
                    <div class="artwork artwork-item-3">
                        <div></div>
                    </div>
                    <div class="artwork artwork-item-4">
                        <div></div>
                    </div>
                    <div class="artwork artwork-item-5">
                        <div></div>
                    </div>
                    <div class="artwork artwork-item-6">
                        <div></div>
                    </div>
                    <div class="artwork artwork-item-7">
                        <div></div>
                    </div>
                </div>
            </section>
        </main>

    </div>
    <footer>
        <section class="section-4">
            <div class="about-us">
                <strong>Sobre</strong>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo ipsum, voluptate aperiam atque possimus quidem dolorem hic consectetur sed adipisci aliquam, delectus natus, dolor iusto. Ipsam aliquid cupiditate distinctio. Nesciunt!</p>
            </div>
            <div class="quick-links">
                <strong>Links Rápidos</strong>
                <ul>
                    <li><a href="#">Obras</a></li>
                    <li><a href="#">Eventos</a></li>
                    <li><a href="#">Artistas</a></li>
                    <li><a href="#">Sobre</a></li>
                </ul>
            </div>
            <div class="contact">
                <strong>Contacto</strong>
                <ul>
                    <li>Email: arthem@gmail.com</li>
                    <li>Tel: +244 948772757</li>
                </ul>
            </div>
        </section>
        <section class="section-5">
            <p>Arthem &copy; 2025 Todos os Direitos Reservados. Design by WeirdBoy</p>
        </section>
    </footer>
</body>
</html>